*.classpath
*.project
*.settings
.gradle
gradle-wrapper.jar
gradle-wrapper.properties
/bin
/build

/node_modules/
/node_server/pool.js
/bower_components/
/src/main/resources/static/lib/
/src/main/resources/static/attachfile/**/
/src/main/webapp/views/test/*