*.classpath
*.project
*.settings
.gradle
/gradle
/bin
/build

/node_modules/
/node_server/pool.js
/bower_components/
/src/main/resources/static/lib/
/src/main/resources/static/attachfile/**/
/src/main/resources/templates/test/*