.board-list {
	border: 1px dotted grey;
	-webkit-box-shadow: 0px 0px 53px -10px rgba(174,180,194,1);
	-moz-box-shadow: 0px 0px 53px -10px rgba(174,180,194,1);
	box-shadow: 0px 0px 53px -10px rgba(174,180,194,1);
	font-size: 15px;
	font-family: 'Open Sans', 'Helvetica Neue',
				 Helvetica, Arial, sans-serif;
}
.board-list p {
	margin: 10px 0;
}
.board-list .btitle {
	font-weight: bold;
	margin: 10px 0;
}
.board-list .btn {
	padding: 7.5px 10px;
}
.board-list a {
	cursor: pointer;
}